@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html{
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
}

.logo-name, .nav-item {
  font-family: 'CODE', sans-serif;
}

.portfolio-title, .contact-mail, .about-stylish-word {
  font-family: 'Palmore', sans-serif;
}
 
.portfolio-date {
  font-family: "Murecho", sans-serif;
}

.portfolio-subtitle, .portfolio-bottom-text {
  font-family: 'MurechoLight', sans-serif;
}
.project-indicator, .contact-message, .about-text, .tool-title {
  font-family: 'MurechoLight', sans-serif;
}

.page-title {
  font-family: 'CODE', sans-serif;
}

.custom-cursor {
  cursor: url('/icon/cursor-md.svg') 4 4, auto;
}