@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'CODE';
  src: url('/fonts/CODE-Bold.otf')  format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Palmore';
  src: url('/fonts/Palmore-Light.otf')  format('opentype');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MurechoLight';
  src: url('/fonts/Murecho-Light.ttf')  format('opentype');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Murecho';
  src: url('/fonts/Murecho-Regular.ttf')  format('opentype');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.logo-name, .nav-item {
  font-family: 'CODE', sans-serif;
  color: #272727;
}

.portfolio-title {
  font-family: 'Palmore', sans-serif;
  font-size: 256px;
  color: #272727;
}
.portfolio-date {
  font-family: "Murecho", sans-serif;
}

.portfolio-subtitle, .portfolio-bottom-text {
  font-family: 'MurechoLight', sans-serif;
  font-size: 36px;
  color: #272727;
}
.portfolio-bottom-text {
  font-size: 24px;
}

/* @keyframes fadeOutColor {
  0% {
    background-color: var(--current-color);
  }
  100% {
    background-color: transparent;
  }
}

.fade-out {
  animation: fadeOutColor 0.5s ease-out forwards;
} */

.page-title {
  font-family: 'CODE', sans-serif;
  font-size: 64px;
}

.projects-page {
  background-color: #272727;
  color: #ffffff;
}